<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393568702648-e9v7eqeqq8ld8699ltf684n673ilrs02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393568702648-e9v7eqeqq8ld8699ltf684n673ilrs02</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>393568702648-29vmth6020gcutol5bejjg4dd9q7bvms.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCdWXAoa-eP7RBPWhugjSoh8aSCaDk73fg</string>
	<key>GCM_SENDER_ID</key>
	<string>393568702648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.safewave.forbusiness</string>
	<key>PROJECT_ID</key>
	<string>safewave-371716</string>
	<key>STORAGE_BUCKET</key>
	<string>safewave-371716.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393568702648:ios:93690b8dd473f76388644d</string>
</dict>
</plist>